# sets 
- sets are unordred
## we can
- iterate
- mutable
- no duplicate elements

In [2]:
set={2,4,3,5,2}#not duplicate elements
print(set)

{2, 3, 4, 5}

In [8]:
set1={2,4,3,5,2}#not duplicate elements
set.add("krishna")
print(set)

{2, 3, 4, 5, 'krishna'}

In [9]:
set2={3,5,2,4,6}
set.difference(set1)

{'krishna'}

In [16]:
set2.intersection(set1)

{3, 4, 5}

# Dictionary
- unordered
- changable
- indexed
- having key values

In [19]:
dic={"t1":"volvo" , "t2":"tata" , "t3":"bharatbenz"}
print(dic)

{'t1': 'volvo', 't2': 'tata', 't3': 'bharatbenz'}

In [20]:
type(set1)

set

In [21]:
for x in dic:
    print(x)

t1
t2
t3

In [24]:
for x in dic.values():
    print(x)

volvo
tata
bharatbenz

In [25]:
for x in dic.items():
    print(x)

('t1', 'volvo')
('t2', 'tata')
('t3', 'bharatbenz')

In [28]:
dic["t3"]="ashok leyland"
print(dic)

{'t1': 'volvo', 't2': 'tata', 't3': 'ashok leyland'}

In [29]:
dic["t4"]="ashok leyland"
print(dic)

{'t1': 'volvo', 't2': 'tata', 't3': 'ashok leyland', 't4': 'ashok leyland'}

In [6]:
dic={"cat":"a small animal","table":["a peace of firnituear","list of facts and figures"]}
print(dic)

{'cat': 'a small animal', 'table': ['a peace of firnituear', 'list of facts and figures']}

In [11]:
marks={}
x=int(input("enter marks of physic:"))
marks.update({"physic":x})#update marks to the dictionary
y=int(input("enter marks of chemistery:"))
marks.update({"chemistery":y})
print(marks)#remember to use print function for dictionary

enter marks of physic: 97
enter marks of chemistery: 94

{'physic': 97, 'chemistery': 94}

In [14]:
#how to store different numbers in dictionary
val1={9,"9.0"}
print(val1)
print(type(val1))
val2={"9",9.0}
print(val2)
val3={("int",9),("float",9.0)}
print(val3)

{9, '9.0'}
<class 'set'>
{9.0, '9'}
{('float', 9.0), ('int', 9)}

## nested dictionary

In [31]:
car_model1={"maruti":1980}
car_model2={"tata":1990}
car_model3={"audi":2000}
car_type={"ct1":car_model1 , "ct2":car_model2 , "ct3":car_model3}
print(car_type)

{'ct1': {'maruti': 1980}, 'ct2': {'tata': 1990}, 'ct3': {'audi': 2000}}

In [33]:
print(car_type["ct1"])

{'maruti': 1980}

In [34]:
print(car_type["ct2"]["tata"])

1990

# tuple
- not mutable

In [35]:
mytuple=("krish","aditya","bal")
print(mytuple)

('krish', 'aditya', 'bal')

In [36]:
mytuple[0]="aai"

TypeError: 'tuple' object does not support item assignment

In [39]:
mytuple=("bappa","ira")
print(mytuple)

('bappa', 'ira')

In [5]:
mytuple=("hi","buy","tata")
index=mytuple.index("tata")
count=mytuple.count("buy")
print(count)
print(index)

1
2

# string

In [20]:
string="krishna"
print(type(string))
print(string.capitalize())
print(string.endswith("k"))
print(string.startswith("k"))

<class 'str'>
Krishna
False
True

# boolin

In [21]:
True and True

True

In [22]:
True and False

False

In [23]:
True or True

True

In [24]:
True or False

True

# list

In [51]:
lst=[7,4,7,3,2,0,6,4,45,34]
print(len(lst))
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)
lst.reverse()
print(lst)
print(len(lst))

10
[0, 2, 3, 4, 4, 6, 7, 7, 34, 45]
[45, 34, 7, 7, 6, 4, 4, 3, 2, 0]
[0, 2, 3, 4, 4, 6, 7, 7, 34, 45]
10

In [52]:
sum(lst)

112